<% provide :page_title, application_name %>

<% # override - add request button %>

<div class="row home-content">
  <% #= render 'home_content' %>
  <div class="col-xs-24 col-sm-12">

  </div>
</div>
</div>
